APP_BASE_URL=
APP_HTTPS_ONLY=1
APP_SESSION_COOKIE_NAME=colong_shared_session
APP_SESSION_COOKIE_DOMAIN=
APP_SESSION_SECRET=
APP_ENCRYPTION_KEY=
APP_DATABASE_URL=
APP_MULTIAGENT_URL=
APP_CLAW_URL=
APP_EMAIL_FROM=
APP_EMAIL_FROM_NAME=
APP_SMTP_HOST=
APP_SMTP_PORT=587
APP_SMTP_USERNAME=
APP_SMTP_PASSWORD=
APP_SMTP_STARTTLS=1
APP_SMTP_SSL=0
APP_SMTP_TIMEOUT_SECONDS=15
APP_EMAIL_VERIFICATION_TTL_MINUTES=30
APP_EMAIL_RESEND_INTERVAL_SECONDS=60
