APP_HTTPS_ONLY=1
APP_BASE_PATH=/claw
APP_SESSION_COOKIE_NAME=colong_shared_session
APP_SESSION_COOKIE_DOMAIN=
APP_SESSION_SECRET=
APP_ENCRYPTION_KEY=
APP_DATABASE_URL=
APP_AUTH_DATABASE_URL=
APP_RUNS_DIR=
WEB_BUILTIN_PROVIDERS=deepseek
WEB_DEFAULT_PROVIDER=deepseek
WEB_MODELLESS_MODE=0
WEB_EXECUTION_MODE=claw
WEB_CLAW_MAX_STEPS=12
WEB_MAX_ITERATIONS=8
WEB_MAX_TOTAL_ITERATIONS=16
WEB_JOB_TIMEOUT_SECONDS=0
WEB_JOB_IDLE_TIMEOUT_SECONDS=0
WEB_STARTUP_RECOVERY_SECONDS=180
WEB_STALE_QUEUED_SECONDS=180
WEB_FAST_MODE=1
WEB_FULL_CYCLE_INTERVAL=3
WEB_CHAPTERS_PER_ITER=1
WEB_MAX_CHAPTER_SUBROUNDS=2
WEB_EVAL_INTERVAL=8
LLM_TIMEOUT_SECONDS=0
LLM_MAX_RETRIES=1
WEB_MEMORY_ONLY_MODE=0
WEB_ENABLE_RAG=1
WEB_ENABLE_STATIC_KB=0
WEB_ENABLE_EVALUATOR=1
VECTOR_DB_PATH=
PYTHONUTF8=1
PYTHONIOENCODING=utf-8
HF_HUB_OFFLINE=0
TRANSFORMERS_OFFLINE=0
HF_HOME=
EMBEDDING_MODEL=none
DISABLE_EMBEDDING_DOWNLOADS=1
MIN_CHAPTER_CHARS=1200
MAX_CHAPTER_CHARS=4000
TEMPERATURE=0.8
MAX_TOKENS=4096
CONTEXT_MAX_CHARS=12000
RECENT_CONTEXT_ITEMS=8
TURNING_POINT_ENABLED=1
